@import "../../index.scss";


.error {
    width: 100%;
    height: 100vh;
    @include flex($direction:column);
    gap: 1rem;
    overflow: hidden;

    @include breakpoint-min($tablet) {
        justify-content: flex-start;
        height: 125vh;
    }

    .move-con {
        width: 100%;

        @include breakpoint-min($tablet) {
            height: 800px;
            position: absolute;
            top: 0;
            left: 0;
            @include flex;
        }
    }

    svg {
        color: hwb(0 16% 84%);
        animation: fill-desktop 2s ease forwards 1.75s;
        width: 40%;

        @include breakpoint-max($tablet) {
            animation: fill-mobile 2s ease forwards 1.75s;
        }

        path {
            stroke-dasharray: 1417px;
            stroke-dashoffset: 1417px;
            animation: line 10s ease forwards;

            @keyframes line {
                to {
                    stroke-dashoffset: 0;
                }
            }
        }


        @keyframes fill-mobile {
            from {
                fill: transparent;
            }

            to {
                fill: hwb(0 16% 84%);
                background-color: hwb(6 45% 2% / 0.25);
                padding-block: 5px;
                width: 100%;
            }
        }

        @keyframes fill-desktop {
            from {
                fill: transparent;
            }

            to {
                fill: hwb(0 16% 84%);
                scale: 2.75;
                transform: translateY(-50%);
            }
        }
    }

    .links {
        min-width: 100%;

        @include breakpoint-min($tablet) {
            position: absolute;
            bottom: 10%;
        }

        >p {
            @include flex;
            font-size: 2rem;
            gap: 50%;
            min-width: 100%;
            position: absolute;
            bottom: 20%;
            font-weight: bolder;
            font-size: 2.5rem;
            overflow: hidden;
            height: 20px;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);
            animation: fade-desktop 1s ease forwards 4s;
            opacity: 0;

            &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                height: 5px;
                width: 100%;
                box-shadow: 0px -5px 15px rgba(0, 0, 0);
            }

            span {
                font-family: $syne;
                text-transform: uppercase;
            }

            a {
                @include flex;
                font-family: $axiforma;
                transition: .55s;

                &:hover {
                    padding: 2rem;
                    font-size: 2.25rem;
                }
            }

            span,
            a {
                .char {
                    transform: translateY(115px);
                    transition: all .5s;
                }
            }

            @keyframes fade-desktop {
                from {
                    background-color: transparent;
                }

                to {
                    height: 40px;
                    opacity: 1;
                    color: hwb(0 6% 84%);
                    background-color: white;
                }
            }
        }

        article {
            font-family: $syne;
            opacity: 0;
            scale: .75;
            transform: translateX(5rem);
            animation: fade-mobile 1s ease forwards 2.5s;

            h2 {
                font-size: 1.25rem;
            }

            p {
                font-family: $axiforma;
                font-size: 0.25rem;
            }

            @keyframes fade-mobile {
                from {
                    // opacity: 0;
                }

                to {
                    opacity: 1;
                    // transform: translateY(-.5rem);
                    scale: .75;
                }
            }
        }
    }
}