@import "../../index.scss";


.vote {
    position: absolute;
    right: 0;
    top: 550px;
    width: calc(100% - 360px);
    height: 80vh;

    >div {
        padding: 1.25rem;
        @include flex($direction:column);
        gap: 34px;

        >div {
            width: 100%;
            @include flex;

            &.top {
                justify-content: flex-start;
                gap: 1.25rem;
                padding-inline: 5%;

                span>a {
                    @include flex;
                }

                h2 {
                    font-family: $syne;
                    color: hwb(0 21% 78%);
                    font-weight: 600;
                    font-size: 1.75rem;
                }
            }

            &.bottom {
                flex-direction: column;
                background: hwb(0 100% 0% / 0.9);
                box-shadow: 0px 4px 10px hwb(0 0% 100% / 0.05);
                border-radius: 10px;
                padding: 50px;
                width: 85%;
                gap: 1.875rem;

                >div {
                    @include flex;
                    width: 100%;

                    &.top {
                        justify-content: space-between;

                        >div {
                            @include flex;

                            &.left {
                                gap: 1.375rem;

                                span {
                                    @include equal(55px);
                                    @include flex;
                                    overflow: hidden;
                                    border-radius: 50%;
                                }

                                h5 {
                                    font-family: $syne;
                                    font-weight: 500;
                                    font-size: 1.375rem;
                                }
                            }

                            &.right {
                                text-transform: capitalize;
                                gap: 1.5rem;

                                >span {
                                    font-family: $axiforma;

                                    &:first-of-type {
                                        color: hwb(0 0% 100% / 0.62);
                                        font-weight: 300;
                                    }

                                    &:last-of-type {
                                        width: 70px;
                                        height: 22px;
                                        @include flex;
                                        background-color: hwb(201 88% 0%);
                                        border-radius: 5px;
                                        font-weight: 500;
                                        font-size: 10px;
                                    }
                                }

                                div {
                                    @include flex;
                                    gap: 10px;

                                    span {
                                        font-family: $axiforma;

                                        &:first-of-type {
                                            font-weight: 600;
                                            color: hwb(0 16% 84% / 0.9);
                                        }

                                        &:last-of-type {
                                            color: hwb(0 55% 45%);
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.center {
                        ul {
                            list-style: none;
                            @include flex($direction: column, $align:flex-start);
                            width: 100%;
                            gap: 3rem;

                            li {
                                width: 100%;

                                label {
                                    @include flex($justify:flex-start);
                                    gap: 30px;
                                    min-width: 100%;

                                    >span {
                                        @include equal(45px);
                                        @include flex;
                                        position: relative;

                                        input {
                                            display: none;

                                            &:checked~svg:first-of-type {
                                                display: block;
                                            }
                                        }

                                        svg {
                                            position: absolute;
                                            display: none;

                                            &:last-of-type {
                                                display: block;
                                            }
                                        }
                                    }

                                    >div {
                                        @include flex($direction:column, $justify:space-between, $align:flex-start);
                                        gap: 1rem;
                                        width: 100%;

                                        .top {
                                            width: 100%;
                                            @include flex($justify:space-between);

                                            span {
                                                font-size: 1rem;

                                                &:first-of-type {
                                                    font-family: $syne;
                                                    font-weight: 600;
                                                }

                                                &:last-of-type {
                                                    font-family: $axiforma;
                                                    font-weight: 500;
                                                    color: hwb(0 55% 45%);

                                                    b {
                                                        font-weight: 600;
                                                        color: hwb(0 16% 84% / 0.9);
                                                        padding-right: 2.5px;
                                                    }
                                                }
                                            }
                                        }

                                        .bottom {
                                            height: 12px;
                                            width: 100%;
                                            background: rgba(187, 193, 196, 0.2);
                                            border-radius: 26px;

                                            >span {
                                                @include flex ($justify:flex-start);
                                                border-radius: inherit;
                                                @include equal (100%);

                                                span {
                                                    height: 100%;
                                                    border-radius: inherit;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.bottom {
                        flex-direction: column;
                        margin-top: 20px;
                        gap: 45px;

                        >div {
                            background: rgba(187, 193, 196, 0.2);
                            border-radius: 26px;
                            width: 100%;
                            @include flex;

                            textarea {
                                @include equal(100%);
                                resize: none;
                                border-radius: inherit;
                                text-align: center;
                                height: 50px;
                                max-height: 150px;
                                font-family: $syne;
                                font-weight: 600;
                                font-size: 1rem;
                                padding: 1rem;
                                color: hwb(0 16% 84% / 0.88);
                                border: none;
                                outline: none;

                                &::-webkit-scrollbar {
                                    display: none;
                                }
                            }
                        }

                        button {
                            width: 520px;
                            height: 65px;
                            outline: none;
                            border: none;
                            
                            a {
                                @include flex;
                                @include equal(100%);
                                background-color: hwb(101 64% 4%);
                                border-radius: 26px;
                                font-family: $syne;
                                font-weight: 600;
                                font-size: 1rem;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
}