@import "../../index.scss";


.ui-cards {
    position: absolute;
    right: 0;
    width: calc(100% - 360px);
    padding: 50px;

    >div {
        @include flex($direction:column);
        gap: 30px;

        >.top {
            @include flex($justify:space-between);
            gap: 50px;
            width: 100%;

            .info-card {
                height: 135px;
                width: min(455px, 100%);
                border-radius: 10px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
                padding: 2rem 1.5rem;
                @include flex($direction:column, $align:flex-start);
                gap: .875rem;
                background-color: white;

                div {
                    @include flex;
                    gap: 5px;

                    &.top {
                        span {
                            @include flex;

                            &:first-of-type {
                                @include equal(40px);
                            }

                            &:last-of-type {
                                color: hwb(0 29% 71% / 0.86);
                                font-family: $syne;
                                font-weight: 600;
                                text-transform: capitalize;
                                font-size: 1rem;
                            }
                        }
                    }

                    &.bottom {
                        span {
                            &:first-of-type {
                                font-family: $poppins;
                                font-size: 1.75rem;
                                color: hwb(0 16% 84%);
                                font-weight: 600;
                            }

                            &:last-of-type {
                                color: hwb(0 29% 71% / 0.86);
                                font-family: $syne;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        >.bottom {
            height: 202px;
            padding: 1.875rem 1.25rem;
            border-radius: 10px;
            @include flex($direction:column, $align:flex-start);
            gap: .9375rem;
            width: 100%;
            position: relative;
            background-color: hwb(101 64% 4%);

            h2 {
                font-family: $syne;
                font-weight: 700;
                font-size: 2.375rem;
                color: hwb(0 16% 84%);
                padding-left: 10px;
            }

            p {
                font-weight: 500;
                font-family: $poppins;
                font-size: 1rem;
                color: hwb(0 39% 61%);
            }

            >div {
                @include flex();
                gap: 1.25rem;

                div {
                    width: 400px;
                    height: 48px;
                    @include flex($justify:flex-start);
                    border-radius: 5px;
                    gap: .875rem;
                    background-color: white;
                    padding-left: 40px;

                    span {
                        @include flex;
                        @include equal(22px);
                    }

                    input {
                        font-size: .8125rem;
                        font-weight: 400;
                        font-family: $poppins;
                        letter-spacing: 2%;
                        width: 220px;
                        height: 20px;
                        border: none;
                        outline: none;
                    }
                }

                button {
                    outline: none;
                    border: none;
                    width: 150px;
                    height: 48px;
                    border-radius: 5px;
                    text-transform: capitalize;
                    font-family: $poppins;
                    font-weight: 500;
                    font-size: 1rem;
                    background-color: hwb(134 21% 37% / 0.58);
                    color: white;
                }
            }

            figure {
                position: absolute;
                @include flex;
                pointer-events: none;
                opacity: 15%;

                @include breakpoint-max(1300px) {
                    display: none;
                }

                &:nth-of-type(1) {
                    @include equal(111px);
                    right: 260px;
                    bottom: 0px;
                }

                &:nth-of-type(2) {
                    @include equal(150px);
                    bottom: 25px;
                    right: 150px;
                }

                &:nth-of-type(3) {
                    @include equal(140px);
                    top: 0px;
                    right: 50px;
                }
            }
        }
    }
}