@import "../../index.scss";


.community {
    position: absolute;
    right: 0;
    top: 550px;
    width: calc(100% - 360px);
    padding-bottom: 50px;

    >div {
        @include flex($direction:column);
        gap: 1.75rem;

        .top {
            width: 80%;
            @include flex($justify:space-between);

            h2 {
                font-weight: 500;
                font-family: $syne;
                font-size: 1.5rem;

                span {
                    font-family: $axiforma;
                    font-size: inherit;
                    font-weight: inherit;
                    margin-left: 5px;
                }
            }

            div {
                @include flex;
                gap: .625rem;
                gap: .75rem;
                transition: .25s ease-in-out all;
                color: hwb(215 12% 2%);

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    gap: .5rem;
                }

                span {
                    @include flex;
                    text-transform: capitalize;
                    font-family: $syne;
                    font-weight: 600;
                    font-size: 1.375rem;
                }
            }
        }

        .bottom {
            width: 85%;
            padding: 2.875rem 2.5rem;
            background-color: hwb(0 100% 0% / 0.9);
            box-shadow: 0px 4px 10px hwb(0 0% 100% / 0.05);
            border-radius: 10px;
            @include flex($direction:column);
            gap: 3.875rem;

            .dao {
                width: 100%;
                @include flex($justify:space-between);
                padding: 30px 50px 30px 20px;
                height: 115px;
                border: 2px solid hwb(0 0% 100% / 0.33);
                border-radius: 1.625rem;
                gap: .75rem;

                >div {
                    @include flex;
                    gap: .375rem;

                    &:nth-of-type(1) {
                        @include equal(54px);
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    &:nth-of-type(2) {
                        flex-direction: column;
                        align-items: flex-start;
                        margin-right: auto;

                        span {
                            font-family: $syne;

                            &:first-of-type {
                                font-weight: 500;
                                color: hwb(0 16% 84%);
                                font-size: 1.25rem;
                            }

                            &:last-of-type {
                                color: hwb(0 40% 58% / 0.86);
                                font-size: .875rem;
                                font-weight: 600;

                                @include breakpoint-max(1300px) {
                                    width: 600px;
                                }
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        background-color: rgba(201, 236, 255, 0.39);
                        border-radius: 12px;
                        height: 33px;
                        width: 135px;
                        font-family: $axiforma;
                        font-weight: 400;
                        font-size: .6875rem;
                        gap: 0;

                        span {
                            @include flex;
                            padding-right: 6px;

                            &:last-of-type {
                                padding-right: 2.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}